<%= erb :html_head %>
<%= erb :navbar_partial %>
<%= flash[:notice] %>

<ul>
  <% @requests.each do |request| %>
    <li>
        <%= request["date"]%>
        <%= request["guest_email"]%>
        <%= request["listing_name"]%>
    </li>
  <% end %>
</ul>
