<%= erb :html_head %>
<%= erb :navbar_partial %>
<form action="/listings/<%= @listing.listing_id %>/book" method="post">
  <select name="available dates">
    <% @dates.each do |date| %>
    <option value='<%= date %>'><%= date %></option>
    <%end%>
  </select>
  <input class="button" type="submit" name="submit" value="submit">
</form>
