<%= erb :html_head %>
<%= erb :navbar_partial %>
<%= @listing.name %>
<%= @listing.description %>
<%= @listing.price %>
<%= @listing.dates[0] %>

<a href="/listings/<%= @listing.listing_id  %>/book">request to book</a>
