<%= erb :html_head %>
<%= erb :navbar_partial %>
<%= @listing.name %>
<%= @listing.description %>
<%= @listing.price %>
<% @listing.dates.each do |date| %>
<%= date %>
<% end %>
<% if session[:current_user] %>
<a href="/listings/<%= @listing.listing_id  %>/book">request to book</a>
<% end %>
<% if session[:current_user] == @user_email %>
<a href="/listings/<%= @listing.listing_id %>/delete">delete listing</a>
<% end %>
