<%= erb :html_head %>
<%= erb :navbar_partial %>
<%= flash[:notice] %>

<ul style="list-style: none;">
  <% @listings.each do |listing| %>
  <li>
    <a href="/listings/<%= listing.listing_id %>">
      <%= listing.name %>
    </a>
  </li>
  <% end %>
</ul>
<% if session[:current_user] %>
<form action="/new_listing" method="get">
<input class="button create-new-listing-button" type="submit" name="create new listing" value="create new listing">
</form>
<% end %>
